{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: bienvenue à digital identity , trip booking
{% endblock %}
{% block content %}
<h1># city-out-of-home</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
fin de mes mots : book a trip in your city for evasion
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
{% endblock %}
<a href="/add_one_ad_trip"> add one ad_trip</a><a href="/add_one_user"> add one user</a><a href="/add_one_city"> add one city</a><a href="/add_one_country"> add one country</a><a href="/add_one_ad_trip_booking"> add one ad_trip_booking</a><a href="/add_one_company"> add one company</a><a href="/add_one_userknowcompany"> add one userknowcompany</a>